<!DOCTYPE html>

<html>
    <head>
        <title>PrayerBase - Home</title>
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.bundle.min.js" integrity="sha384-pjaaA8dDz/5BgdFUPX6M/9SUZv4d12SUPF0axWc+VRZkx5xU3daN+lYb49+Ax+Tl" crossorigin="anonymous"></script>
    </head>
    <body>
        <h1>PrayerBase</h1>
        <div class="header">
            <a href="/login">Login</a>
            <a href="/register">Register</a>
        </div>
        <div class="prayerlist">
            <div class="prayer">
                <img src="exampleprayer.jpg">
                <h2>Prayer Name</h2>
                <p>
                    Some prayer text is here. Please pray for us!
                </p>
                <a href="/deleteprayer">Delete</a>
            </div>
        </div>
    </body>
</html>
