<!DOCTYPE html>

<html>
    <head>
        <title>PrayerBase - Home</title>
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.bundle.min.js" integrity="sha384-pjaaA8dDz/5BgdFUPX6M/9SUZv4d12SUPF0axWc+VRZkx5xU3daN+lYb49+Ax+Tl" crossorigin="anonymous"></script>
    </head>
    <body>
        <h1>PrayerBase</h1>
        <div class="header">
            <a href="/login">Login</a>
            <a href="/register">Register</a>
            <a href="/users">Users</a>
        </div>
        <a href="/newprayer">New Prayer</a>
        <div class="prayerlist">
            <div class="prayer">
                {% for prayer in prayers %}
                    <img src="{{ prayer.image_url }}">
                    <h2><a href="/showprayer?id={{ prayer.id }}">{{ prayer.title }}</a></h2>
                    <p>
                        {{ prayer.description }}
                    </p>
                    <a href="/deleteprayer?id={{ prayer.id }}">Delete</a>
                {% endfor %}
            </div>
        </div>
    </body>
</html>
