<!DOCTYPE html>

<html>
    <head>
        <title>PrayerBase: Login</title>
    </head>
    <body>
        <h1>PrayerBase</h1>
        <h2>Login</h2>
        <form action="/login" method="POST">
            <label for="username">Username</label>
            <input type="text" placeholder="username" id="username" name="username" />
            <label for="password">Password</label>
            <input type="password" id="password" name="password" placeholder="password" />
            <input type="submit" />
        </form>
    </body>
</html>